* {
  font-family: "Work Sans", sans-serif;
}

/*header start*/
header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

header .bg-head-color {
  background-color: rgba(23, 93, 254, 0.85) !important;
  min-height: 120px;
}

header .nav-cmn-item {
  padding-right: 12px;
}

header .nav-cmn-item a {
  color: white;
}

header .btn-book-apt {
  background-color: white;
  color: #002278;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 45px !important;
  padding-right: 45px !important;
  margin-left: 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
}

header .btn-book-apt:hover {
  background-color: #002278;
  color: white;
}

/*header end*/
/*main slider style start*/
.main-slider-section .medi-single-slider {
  background-image: url("../images/banner.png.webp");
  background-repeat: no-repeat;
  height: 960px;
  background-size: cover;
  background-position: center;
}

.main-slider-section .bg-overlay {
  position: relative;
  z-index: 0;
}

.main-slider-section .bg-overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: -moz-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
  background-image: -ms-linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 28, 100, 0.8) 22%, rgba(0, 53, 187, 0.3) 100%, #0035bb 100%);
}

.main-slider-section .medi-slider-text {
  position: absolute;
  z-index: 3;
  top: 330px;
}

.main-slider-section .medi-slider-text span {
  text-transform: uppercase;
  font-size: 18px;
}

.main-slider-section .medi-slider-text h2 {
  font-size: 70px;
  font-weight: 700;
}

.main-slider-section .medi-slider-text h3 {
  font-size: 70px;
  font-weight: 300;
}

.main-slider-section .medi-slider-text a {
  border: 1px solid #fff;
  color: white;
  padding: 17px 44px;
}

.main-slider-section .medi-slider-text a:hover {
  background: white;
  color: #000 !important;
  border: 1px solid #fff;
}

/*main slider style end*/
/*welcome-to-clinic section style start*/
.welcome-to-clicnic-section {
  padding-top: 200px;
}

.welcome-to-clicnic-section .welcome-to-image-wrapper {
  position: relative;
  z-index: 0;
}

.welcome-to-clicnic-section .welcome-to-image-wrapper .img-doctor-1 {
  position: relative;
  margin-left: 30px;
}

.welcome-to-clicnic-section .welcome-to-image-wrapper .img-doctor-1::before {
  background: #e0fbff;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  left: -30px;
  bottom: -30px;
}

.welcome-to-clicnic-section .welcome-to-image-wrapper .img-doctor-1 img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
}

.welcome-to-clicnic-section .welcome-to-clinc-info {
  padding-left: 40px;
}

.welcome-to-clicnic-section .welcome-to-clinc-info h3 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 40px;
  line-height: 60px;
}

.welcome-to-clicnic-section .welcome-to-clinc-info h3 span {
  display: block;
  color: #1a1a1a;
  font-weight: 700;
}

.welcome-to-clicnic-section .welcome-to-clinc-info p {
  font-size: 16px;
  color: #6b6a6a;
  line-height: 28px;
}

.welcome-to-clicnic-section .welcome-to-clinc-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.welcome-to-clicnic-section .welcome-to-clinc-info ul li {
  color: #1a1a1a;
  font-size: 16px;
  line-height: 44px;
  position: relative;
  padding-left: 40px;
}

.welcome-to-clicnic-section .welcome-to-clinc-info ul li i {
  margin-right: 15px;
  color: #84dfff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.welcome-to-clicnic-section .welcome-to-clinc-info .wel-to-cln-about-btn {
  text-decoration: none;
  display: inline-block;
  padding: 17px 44px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
  color: #fff !important;
  background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
}

/*welcome-to-clinic section style end*/
/*departments section style start*/
.departments-section {
  background-image: url("../images/department.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 80px;
  margin-top: 100px;
  padding-bottom: 150px;
}

.departments-section .custom-align {
  margin-bottom: 60px;
}

.departments-section .section-title h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 48px;
  color: #191d34;
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}

.departments-section .section-title p {
  font-size: 16px;
  color: #6b6a6a;
  line-height: 30px;
  margin-bottom: 0;
}

.departments-section .learn-more-btn .learn-btn {
  background: #fff;
  color: #296ea4 !important;
  display: inline-block;
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #27bcf2;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  text-decoration: none;
}

.departments-section .learn-more-btn .learn-btn:hover {
  background: #009dff !important;
  color: #fff;
  border: 1px solid #009dff !important;
}

.departments-section .depart-ment-tab {
  margin-bottom: 30px;
}

.departments-section .depart-ment-tab .nav {
  justify-content: space-between;
}

.departments-section .depart-ment-tab .nav li {
  -webkit-box-flex: 14.4%;
  -ms-flex: 14.4% 0 0px;
  flex: 14.4% 0 0;
  margin-bottom: 30px;
}

.departments-section .depart-ment-tab .nav li a.active {
  background-image: -moz-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -webkit-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  background-image: -ms-linear-gradient(0deg, #24c0f1 0%, #4c9afe 100%);
  color: #fff;
}

.departments-section .depart-ment-tab .nav li a {
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #cdf2ff;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.departments-section .depart-ment-tab .nav li a.active i {
  color: #fff;
}

.departments-section .depart-ment-tab .nav li a i {
  font-size: 50px;
  color: #3eadf8;
  line-height: 1;
  margin-bottom: 13px;
}

.departments-section .depart-ment-tab .nav li a.active h4 {
  color: #fff;
}

.departments-section .depart-ment-tab .nav li a h4 {
  font-size: 18px;
  font-weight: 500;
  color: #296ea4;
  margin-bottom: 0;
}

/*main info section style start*/
.dept-main-info {
  background-color: #fff;
}

.departments-section .dept-main-info .dept-main-thumb img {
  width: 100%;
}

.departments-section .dept-main-info .dept-info {
  padding-left: 68px;
  padding-right: 75px;
}

.departments-section .dept-main-info .dept-info h3 {
  font-size: 25px;
  line-height: 35px;
  color: #242424;
  font-weight: 500;
}

.departments-section .dept-main-info .dept-info p {
  margin-bottom: 52px;
  margin-top: 20px;
  color: #5c5c5c;
}

.departments-section .dept-main-info .dept-info .make-appointment-btn {
  background: #fff;
  text-decoration: none;
  color: #296ea4 !important;
  display: inline-block;
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #27bcf2;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
}

.departments-section .dept-main-info .dept-info .make-appointment-btn:hover {
  background: #009dff !important;
  color: #fff !important;
  border: 1px solid #009dff !important;
}

/*main info section style end*/
/*departments section style end*/
/*media queries start*/
@media (max-width: 991px) {
  /*welcome-to-clinic-section style start*/
  .welcome-to-clicnic-section {
    padding-top: 100px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info {
    padding-left: 0;
    margin-top: 100px;
  }
  /*welcome-to-clinic-section style end*/
  /*departments section style start*/
  .departments-section .section-title h3 {
    font-size: 36px;
  }
  .departments-section .dept-main-info .dept-info {
    padding: 40px;
  }
  .departments-section .depart-ment-tab .nav li {
    -webkit-box-flex: 30%;
    -ms-flex: 30% 0 0px;
    flex: 30% 0 0;
    margin-bottom: 0 !important;
  }
  /*departments section style end*/
}
@media (max-width: 768px) {
  /*header style start*/
  header .bg-head-color {
    min-height: 100px;
  }
  /*header style end*/
  /*main slider style start*/
  .main-slider-section .medi-slider-text {
    margin-top: -70px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 55px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 55px;
  }
  .main-slider-section .medi-single-slider {
    height: 700px;
  }
  /*main slider style end*/
  /*departments section style start*/
  .departments-section .section-title h3 {
    font-size: 36px;
    line-height: 42px;
  }
  /*departments section style end*/
}
@media (max-width: 425px) {
  /*header style start*/
  header nav .nav-logo-brand img {
    width: 70px;
  }
  header .bg-head-color {
    min-height: 55px;
  }
  /*header style end*/
  /*main slider style start*/
  .main-slider-section .medi-single-slider {
    height: 500px;
  }
  .main-slider-section .medi-slider-text {
    margin-top: -200px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 33px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 33px;
    width: 95%;
  }
  /*main slider style end*/
  /*welcome-to-clinic-section style start*/
  .welcome-to-clicnic-section {
    padding-top: 70px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info {
    padding-left: 0;
    margin-top: 80px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info h3 {
    font-size: 30px;
    line-height: 1.2;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info ul li {
    line-height: 30px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info ul li i {
    top: 6px;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  /*welcome-to-clinic-section style end*/
  /*departments section style start*/
  .departments-section {
    margin-top: 70px;
    padding-bottom: 80px;
  }
  .departments-section .section-title h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .departments-section .learn-more-btn {
    margin-top: 30px;
    text-align: left !important;
  }
  .departments-section .depart-ment-tab .nav li {
    -webkit-box-flex: 100%;
    -ms-flex: 100% 0 0px;
    flex: 100% 0 0;
    margin-bottom: 0 !important;
  }
  .departments-section .depart-ment-tab .nav li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .departments-section .depart-ment-tab .nav li a i {
    font-size: 25px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .departments-section .dept-main-info .dept-info h3 {
    font-size: 20px;
  }
  /*departments section style end*/
}
@media (max-width: 320px) {
  /*departments section style start*/
  .departments-section .dept-main-info .dept-info .make-appointment-btn {
    font-size: 14px;
  }
  /*departments section style end*/
}
/*media queries end*/

/*# sourceMappingURL=main.css.map */
