@import '_variables';
@import '_mymixin';

/*about-banner section style start*/
.about-banner-section {
  background-image: url('../images/bradcam.png.webp');
  background-size: cover;
  background-position: center center;
  padding: 275px 0 165px 0px;
  background-repeat: no-repeat;
}

.about-banner-section h3 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}
/*about-banner section style end*/
