@import '_variables';
@import '_mymixin';

/*book appointment section style start*/
.book-appointment-section {
  @include set-image-to-element(
    '../images/app-image.jpg.webp',
    no-repeat,
    cover,
    center
  );
  padding: 150px 0;
}
.book-appointment-section .popup-box {
  width: 100% !important;
  background: $book-appointment-section-color-1;
  display: inline-block;
  z-index: 9;
  padding: 60px 40px;
}

.book-appointment-section .popup-box h3 {
  font-size: 50px;
  color: $book-appointment-section-color-2;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 50px;
}
.book-appointment-section .popup-box h3 span {
  font-weight: 600;
  display: block;
}
.book-appointment-section .popup-box .popup-inner .doctor-drpdown,
.book-appointment-section .popup-box .popup-inner input[type='text'],
.book-appointment-section .popup-box .popup-inner input[type='email'] {
  color: $book-appointment-section-color-3;
  height: 60px !important;
  margin-bottom: 15px;
}
.book-appointment-section .popup-box .popup-inner input:focus {
  outline: none !important;
  border-color: $book-appointment-section-color-4 !important;
}
.book-appointment-section .popup-box .popup-inner .wrapper-appdate-time {
  position: relative;
}
.book-appointment-section
  .popup-box
  .popup-inner
  .wrapper-appdate-time
  .cmn-date-time-icn {
  position: absolute;
  right: 10px;
  top: 20px;
  color: $book-appointment-section-color-3;
}
.book-appointment-section .popup-box .popup-inner .make-app-btn {
  width: 100%;
  text-transform: capitalize;
  //==============
  background: $book-appointment-section-color-5;
  background: -moz-linear-gradient(
    left,
    $book-appointment-section-color-5 0%,
    $book-appointment-section-color-6 100%
  );
  background: -webkit-linear-gradient(
    left,
    $book-appointment-section-color-5 0%,
    $book-appointment-section-color-6 100%
  );
  background: linear-gradient(
    to right,
    $book-appointment-section-color-5 0%,
    $book-appointment-section-color-6 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 );
  display: inline-block;
  padding: 18px 44px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  @include border-radius(4px);
  text-align: center;
  color: $book-appointment-section-color-1 !important;
  text-transform: capitalize;
  @include transition-to-element(0.5s);
  cursor: pointer;
}

.book-appointment-section .popup-box .popup-inner .make-app-btn:hover {
  background: $book-appointment-section-color-1;
  color: $book-appointment-section-color-7 !important;
  border: 1px solid $book-appointment-section-color-7;
}

/*book appointment section style end*/
