@import '_variables';
@import '_mymixin';

/*doctors section style start*/
.doctors-section {
  padding-top: 90px;
}
.doctors-section .section-title {
    margin-bottom: 55px;
}
.doctors-section .section-title h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 48px;
  color: #191d34;
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}
.doctors-section .section-title p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #6b6a6a;
    line-height: 30px;
    margin-bottom: 0;
}
/*doctors section style start*/
