@import '_variables';
@import '_mymixin';

/*doctors section style start*/
.doctors-section {
  padding-top: 90px;
}
.doctors-section .section-title {
  margin-bottom: 55px;
}
.doctors-section .section-title h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 48px;
  color: $doctors-section-color-1;
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}
.doctors-section .section-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $doctors-section-color-2;
  line-height: 30px;
  margin-bottom: 0;
}
// ======================
.doctors-section .doctors-wrapper .single-expert {
  margin-bottom: 40px;
}
.doctors-section .doctors-wrapper .single-expert .expert-thumb {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px !important;
  overflow: hidden;
}
.doctors-section .doctors-wrapper .single-expert:hover .expert-thumb img {
  @include transform-scale(1.1);
  /*
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  */
}
.doctors-section .doctors-wrapper .single-expert .expert-thumb img {
  /*
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  */

  @include transition-to-element(0.3s);
  @include transform-scale(1);
  /*
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    */

  width: 100%;
}
.doctors-section .doctors-wrapper .single-expert .experts-name {
  background: $doctors-section-color-3;
  padding-top: 16px;
  padding-bottom: 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 22px 70px 25px 70px;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 2, 0.03);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
.doctors-section .doctors-wrapper .single-expert .experts-name h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1px;

  @include transition-to-element(0.3s);
  /*
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
    */
  color: $doctors-section-color-4;
  margin-bottom: 6px;
}
.doctors-section .doctors-wrapper .single-expert .experts-name span {
  color: $doctors-section-color-5;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}
.doctors-section .doctors-wrapper .single-expert .experts-name .social-links {
  border-top: 1px solid $doctors-section-color-6;
  padding-top: 26px;
  margin-top: 24px;
}
.doctors-section
  .doctors-wrapper
  .single-expert
  .experts-name
  .social-links
  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.doctors-section
  .doctors-wrapper
  .single-expert
  .experts-name
  .social-links
  li {
  display: inline-block;
  margin: 0 11px;
}
.doctors-section
  .doctors-wrapper
  .single-expert
  .experts-name
  .social-links
  li
  a {
  color: $doctors-section-color-7;
  display: inline-block;
  font-size: 16px;
}
.doctors-section
  .doctors-wrapper
  .single-expert
  .experts-name
  .social-links
  li
  a:hover {
  color: $doctors-section-color-8;
}
/*doctors section style start*/
