@import '_variables';
@import '_mymixin';

* {
  font-family: 'Work Sans', sans-serif;
}
/*header start*/
header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
header .bg-head-color {
  background-color: $header-color-1;
  min-height: 120px;
}
header .nav-cmn-item {
  padding-right: 12px;
}
header .nav-cmn-item a {
  color: $header-color-2;
}

/*======================================*/
header .nav-blog-drop button {
  color: $header-color-2;
  border: none;
}
/*
header .nav-blog-drop button:hover {
  color: white;
}
*/
header .nav-blog-drop ul li a {
  color: $header-color-4;
}
header .nav-blog-drop .drop-blog {
  border-radius: 0;
  top: 75px;
}
/*======================================*/

header .btn-book-apt {
  background-color: $header-color-2;
  color: $header-color-3;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 45px !important;
  padding-right: 45px !important;
  margin-left: 50px;
  @include border-radius(3px);
}
header .btn-book-apt:hover {
  background-color: $header-color-3;
  color: $header-color-2;
}

/*book appointment modal window style start*/
.content-wrapper-bookapp h3 {
  font-size: 50px;
  color: $book-appointment-section-color-2;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 50px;
}
.content-wrapper-bookapp h3 span {
  font-weight: 600;
  display: block;
}
.content-wrapper-bookapp .doctor-drpdown,
.content-wrapper-bookapp input[type='text'],
.content-wrapper-bookapp input[type='email'] {
  color: $book-appointment-section-color-3;
  height: 60px !important;
  margin-bottom: 15px;
}
.content-wrapper-bookapp .wrapper-appdate-time {
  position: relative;
}
.content-wrapper-bookapp .wrapper-appdate-time .cmn-date-time-icn {
  position: absolute;
  right: 10px;
  top: 20px;
  color: $book-appointment-section-color-3;
}
.content-wrapper-bookapp .make-app-btn {
  width: 100%;
  text-transform: capitalize;
  //==============
  background: $book-appointment-section-color-5;
  background: -moz-linear-gradient(
    left,
    $book-appointment-section-color-5 0%,
    $book-appointment-section-color-6 100%
  );
  background: -webkit-linear-gradient(
    left,
    $book-appointment-section-color-5 0%,
    $book-appointment-section-color-6 100%
  );
  background: linear-gradient(
    to right,
    $book-appointment-section-color-5 0%,
    $book-appointment-section-color-6 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 );
  display: inline-block;
  padding: 18px 44px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  @include border-radius(4px);
  text-align: center;
  color: $book-appointment-section-color-1 !important;
  text-transform: capitalize;
  @include transition-to-element(0.5s);
  cursor: pointer;
}
.content-wrapper-bookapp .make-app-btn:hover {
  background: $book-appointment-section-color-1;
  color: $book-appointment-section-color-7 !important;
  border: 1px solid $book-appointment-section-color-7;
}
/*book appointment modal window style end*/
/*header end*/
