@import '_variables';
@import '_mymixin';

/*media queries start*/
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 991px) {
  /*welcome-to-clinic-section style start*/
  .welcome-to-clicnic-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info {
    padding-left: 0;
    margin-top: 100px;
  }
  /*welcome-to-clinic-section style end*/
}

@media (max-width: 768px) {
  /*header style start*/
  header .bg-head-color {
    min-height: 100px;
  }
  /*header style end*/

  /*main slider style start*/
  .main-slider-section .medi-slider-text {
    margin-top: -70px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 55px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 55px;
  }
  .main-slider-section .medi-single-slider {
    height: 700px;
  }
  /*main slider style end*/
}

@media (max-width: 425px) {
  /*header style start*/
  header nav .nav-logo-brand img {
    width: 70px;
  }
  header .bg-head-color {
    min-height: 55px;
  }
  /*header style end*/

  /*main slider style start*/
  .main-slider-section .medi-single-slider {
    height: 500px;
  }
  .main-slider-section .medi-slider-text {
    margin-top: -200px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 33px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 33px;
    width: 95%;
  }
  /*main slider style end*/

  /*welcome-to-clinic-section style start*/
  .welcome-to-clicnic-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info {
    padding-left: 0;
    margin-top: 80px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info h3 {
    font-size: 30px;
    line-height: 1.2;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info ul li {
    line-height: 30px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info ul li i {
    top: 6px;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  /*welcome-to-clinic-section style end*/
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
  /*welcome-to-clinic-section style start*/

  /*welcome-to-clinic-section style end*/
}
/*media queries end*/
