@import '_variables';
@import '_mymixin';

/*media queries start*/
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .main-slider-section .medi-slider-text {
    margin-top: -70px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 55px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 55px;
  }
  .main-slider-section .medi-single-slider {
    height: 700px;
  }
}

@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}

/*media queries end*/
