@import '_variables';
@import '_mymixin';

/*media queries start*/
@media (max-width: 1200px) {
  /*doctors section style start*/
  .doctors-section .doctors-wrapper .single-expert .experts-name {
    padding: 20px;
  }
  /*doctors section style end*/
}

@media (max-width: 991px) {
  /*welcome-to-clinic-section style start*/
  .welcome-to-clicnic-section {
    padding-top: 100px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info {
    padding-left: 0;
    margin-top: 100px;
  }
  /*welcome-to-clinic-section style end*/

  /*departments section style start*/
  .departments-section .section-title h3 {
    font-size: 36px;
  }
  .departments-section .dept-main-info .dept-info {
    padding: 40px;
  }
  .departments-section .depart-ment-tab .nav li {
    -webkit-box-flex: 30%;
    -ms-flex: 30% 0 0px;
    flex: 30% 0 0;
    margin-bottom: 0 !important;
  }

  /*departments section style end*/

  /*doctors section style start*/
  .doctors-section .section-title h3 {
    font-size: 36px;
    line-height: 42px;
  }
  /*doctors section style end*/

  /*quality health section style start*/
  .quality-health-section .section-title h3 {
    font-size: 36px;
    line-height: 42px;
  }
  /*quality health section style end*/

  /*emergency contact section style start*/
  .single-emergency.align-items-center.d-flex.justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    margin-top: 37px;
  }
  /*emergency contact section style end*/

  /*footer section style start*/
  .footer .footer-top .footer-widget {
    margin-bottom: 30px;
  }
  /*footer section style end*/
}

@media (max-width: 768px) {
  /*header style start*/
  header .bg-head-color {
    min-height: 100px;
  }
  /*header style end*/

  /*main slider style start*/
  .main-slider-section .medi-slider-text {
    margin-top: -70px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 55px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 55px;
  }
  .main-slider-section .medi-single-slider {
    height: 700px;
  }
  /*main slider style end*/

  /*departments section style start*/
  .departments-section .section-title h3 {
    font-size: 36px;
    line-height: 42px;
  }
  /*departments section style end*/
}

@media (max-width: 425px) {
  /*header style start*/
  .content-wrapper-bookapp h3 {
    font-size: 35px;
  }
  header nav .nav-logo-brand img {
    width: 70px;
  }
  header .bg-head-color {
    min-height: 55px;
  }
  /*header style end*/

  /*main slider style start*/
  .main-slider-section .medi-single-slider {
    height: 500px;
  }
  .main-slider-section .medi-slider-text {
    margin-top: -200px;
  }
  .main-slider-section .medi-slider-text h2 {
    font-size: 33px;
  }
  .main-slider-section .medi-slider-text h3 {
    font-size: 33px;
    width: 95%;
  }
  /*main slider style end*/

  /*welcome-to-clinic-section style start*/
  .welcome-to-clicnic-section {
    padding-top: 70px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info {
    padding-left: 0;
    margin-top: 80px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info h3 {
    font-size: 30px;
    line-height: 1.2;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info ul li {
    line-height: 30px;
  }
  .welcome-to-clicnic-section .welcome-to-clinc-info ul li i {
    top: 6px;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  /*welcome-to-clinic-section style end*/

  /*departments section style start*/
  .departments-section {
    margin-top: 70px;
    padding-bottom: 80px;
  }
  .departments-section .section-title h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .departments-section .learn-more-btn {
    margin-top: 30px;
    text-align: left !important;
  }
  .departments-section .depart-ment-tab .nav li {
    -webkit-box-flex: 100%;
    -ms-flex: 100% 0 0px;
    flex: 100% 0 0;
    margin-bottom: 0 !important;
  }
  .departments-section .depart-ment-tab .nav li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .departments-section .depart-ment-tab .nav li a i {
    font-size: 25px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .departments-section .dept-main-info .dept-info h3 {
    font-size: 20px;
  }
  /*departments section style end*/

  /*doctors section style start*/
  .doctors-section .section-title h3 {
    font-size: 30px;
    line-height: 36px;
  }
  /*doctors section style end*/

  /*book appointment section style start*/
  .book-appointment-section {
    padding: 80px 0;
  }
  .book-appointment-section .popup-box h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .book-appointment-section .popup-box {
    padding: 40px 25px;
  }
  /*book appointment section style end*/

  /*quality health section style start*/
  .quality-health-section {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .quality-health-section .section-title h3 {
    font-size: 30px;
    line-height: 36px;
  }
  /*quality health section style end*/

  /*emergency contact section style start*/
  .emergency-contact-section
    .emergency-contact-inner
    .single-emergency
    .info
    span {
    font-size: 15px;
  }
  .emergency-contact-section
    .emergency-contact-inner
    .single-emergency
    .info
    h3 {
    font-size: 30px;
  }
  .emergency-contact-section .emergency-contact-inner::before,
  .emergency-contact-section .emergency-contact-inner::after {
    width: 100%;
  }
  /*emergency contact section style end*/

  /*footer section style start*/
  .footer .footer-top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  /*footer section style end*/
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
  /*departments section style start*/
  .departments-section .dept-main-info .dept-info .make-appointment-btn {
    font-size: 14px;
  }
  /*departments section style end*/
}
/*media queries end*/
