@mixin border-radius($red) {
  border-radius: $red;
  -webkit-border-radius: $red;
  -ms-border-radius: $red;
  -moz-border-radius: $red;
}

@mixin set-image-to-div($url, $repeat, $height, $size, $position) {
  background-image: url($url);
  background-repeat: $repeat;
  height: $height;
  background-size: $size;
  background-position: $position;
}