@mixin border-radius($red) {
  border-radius: $red;
  -webkit-border-radius: $red;
  -ms-border-radius: $red;
  -moz-border-radius: $red;
}

@mixin set-image-to-element($url, $repeat, $size, $position) {
  background-image: url($url);
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}

@mixin transform-scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

@mixin transition-to-element($trtime) {
  -webkit-transition: $trtime;
  -moz-transition: $trtime;
  -o-transition: $trtime;
  transition: $trtime;
}

@mixin translateY($trans) {
  -webkit-transform: translateY($trans);
  -moz-transform: translateY($trans);
  -ms-transform: translateY($trans);
  transform: translateY($trans);
}
