$header-color-1: rgba(23, 93, 254, 0.85) !important;
$header-color-2: white;
$header-color-3: #002278;

$welcome-to-clinic-color-1: #e0fbff;
$welcome-to-clinic-color-2: #1a1a1a;
$welcome-to-clinic-color-3: #6b6a6a;
$welcome-to-clinic-color-4: #fff !important;

$welcome-to-clinic-color-5: #24c0f1;
$welcome-to-clinic-color-6: #4c9afe;

$departments-section-color-1: #191d34;
$departments-section-color-2: #6b6a6a;
$departments-section-color-3: #fff;
$departments-section-color-4: #296ea4 !important;
$departments-section-color-5: #27bcf2;
$departments-section-color-6: #009dff !important;
$departments-section-color-7: #cdf2ff;
$departments-section-color-8: #3eadf8;
