$header-color-1: rgba(23, 93, 254, 0.85) !important;
$header-color-2: white;
$header-color-3: #002278;

$welcome-to-clinic-color-1: #e0fbff;
$welcome-to-clinic-color-2: #1a1a1a;
$welcome-to-clinic-color-3: #6b6a6a;
$welcome-to-clinic-color-4: #fff !important;

$welcome-to-clinic-color-5: #24c0f1;
$welcome-to-clinic-color-6: #4c9afe;

$departments-section-color-1: #191d34;
$departments-section-color-2: #6b6a6a;
$departments-section-color-3: #fff;
$departments-section-color-4: #296ea4 !important;
$departments-section-color-5: #27bcf2;
$departments-section-color-6: #009dff !important;
$departments-section-color-7: #cdf2ff;
$departments-section-color-8: #3eadf8;
$departments-section-color-9: #242424;
$departments-section-color-10: #5c5c5c;
$departments-section-color-11: #296ea4;

$doctors-section-color-1: #191d34;
$doctors-section-color-2: #6b6a6a;
$doctors-section-color-3: #fff;
$doctors-section-color-4: #26bef2;
$doctors-section-color-5: #738ea9;
$doctors-section-color-6: #cbf0ff;
$doctors-section-color-7: #c2c8d3;
$doctors-section-color-8: #0d448f;

$book-appointment-section-color-1: #fff;
$book-appointment-section-color-2: #222222;
$book-appointment-section-color-3: #919191;
$book-appointment-section-color-4: #24c0f1;
$book-appointment-section-color-5: #0181f5;
$book-appointment-section-color-6: #5db2ff;
$book-appointment-section-color-7: #009dff;

$quality-health-section-color-1: #191d34;
$quality-health-section-color-2: #6b6a6a;
$quality-health-section-color-3: rgba(206, 243, 255, 0.2);
$quality-health-section-color-4: #24c0f1;
$quality-health-section-color-5: #4c9afe;
$quality-health-section-color-6: #fff;
$quality-health-section-color-7: #222222;
$quality-health-section-color-8: #6b6a6a;
