@import '_variables';
@import '_mymixin';

/*welcome-to-clinic style start*/
.welcome-to-clicnic-section {
  padding-top: 200px;
}

.welcome-to-clicnic-section .welcome-to-image-wrapper {
  position: relative;
  z-index: 0;
}
.welcome-to-clicnic-section .welcome-to-image-wrapper .img-doctor-1 {
  //left: 0;
  position: relative;
  margin-left: 30px;
}
.welcome-to-clicnic-section .welcome-to-image-wrapper .img-doctor-1::before {
  background: $welcome-to-clinic-color-1;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  @include border-radius(5px);
  left: -30px;
  bottom: -30px;
}
.welcome-to-clicnic-section .welcome-to-image-wrapper .img-doctor-1 img {
  width: 100%;
  @include border-radius(5px);
}
.welcome-to-clicnic-section .welcome-to-clinc-info {
  padding-left: 40px;
}
.welcome-to-clicnic-section .welcome-to-clinc-info h3 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 40px;
  line-height: 60px;
}
.welcome-to-clicnic-section .welcome-to-clinc-info h3 span {
  display: block;
  color: $welcome-to-clinic-color-2;
  font-weight: 700;
}
.welcome-to-clicnic-section .welcome-to-clinc-info p {
  font-size: 16px;
  color: $welcome-to-clinic-color-3;
  line-height: 28px;
}
.welcome-to-clicnic-section .welcome-to-clinc-info ul {
  //margin-bottom: 46px;
  //margin-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.welcome-to-clicnic-section .welcome-to-clinc-info ul li {
  color: #1a1a1a;
  font-size: 16px;
  line-height: 44px;
  position: relative;
  padding-left: 40px;
}
.welcome-to-clicnic-section .welcome-to-clinc-info ul li i {
  margin-right: 15px;
  color: #84dfff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.welcome-to-clicnic-section .welcome-to-clinc-info .wel-to-cln-about-btn {
  text-decoration: none;
  display: inline-block;
  padding: 17px 44px;
  font-size: 16px;
  font-weight: 400;
  @include border-radius(4px);
  text-align: center;
  color: $welcome-to-clinic-color-4;
  background-image: -webkit-linear-gradient(
    0deg,
    $welcome-to-clinic-color-5 0%,
    $welcome-to-clinic-color-6 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    $welcome-to-clinic-color-5 0%,
    $welcome-to-clinic-color-6 100%
  );
}
/*welcome-to-clinic style end*/
